<a href="https://colab.research.google.com/github/poojabegate/assignment-submission/blob/main/01_MLC__practical_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
    print('Hello Pooja')

Hello Pooja

In [1]:
#while loop with "else"
count=10
while(count<=30) :
  print(count, "is Less than 30" )
  count=count+1
else:
    print(count, "is Greater than 30")

10 is Less than 30
11 is Less than 30
12 is Less than 30
13 is Less than 30
14 is Less than 30
15 is Less than 30
16 is Less than 30
17 is Less than 30
18 is Less than 30
19 is Less than 30
20 is Less than 30
21 is Less than 30
22 is Less than 30
23 is Less than 30
24 is Less than 30
25 is Less than 30
26 is Less than 30
27 is Less than 30
28 is Less than 30
29 is Less than 30
30 is Less than 30
31 is Greater than 30

In [2]:
#while loop without "else"
count = 100
while (count<110) :
  count=count+1
  print(count)

101
102
103
104
105
106
107
108
109
110

In [4]:
#for loop 
names = ['Pooja', 'Pallavi', 'Bhagyshree' ]
for index in range(len(names)) :
  print('Current Name  :', names[index])

Current Name  : Pooja
Current Name  : Pallavi
Current Name  : Bhagyshree

In [5]:
#alternative use for "for loop"
names = ['Pooja', 'Pallavi', 'Bhagyshree' ]
for name in names:
  print('Current name :', name)

Current name : Pooja
Current name : Pallavi
Current name : Bhagyshree